.container{
    min-height: 80px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}

.logoContainer{
    min-width: 180px;
    min-height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
}

.navlinksContainer{
    min-width: 180px;
    min-height: 60px;
    flex: 5;

    display: flex;
    gap: 24px;
}

.navLinks{
    min-width: 180px;
    flex: 5;

    display: flex;
    gap: 24px;
    justify-content: end;
}

.profileContainer{
    min-width: 180px;
    flex: 1;
    
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.link{
    min-width: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
}

.profileImg{
    max-width: 24px;
    max-height: 24px;
    object-fit: contain;
    border-radius: 50%;
}